html,
body {
  height: 100%;
  margin: 0;
  background-color: #d9e6d8;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

#score {
  font-size: 1.2em;
  font-weight: 700;
}

#inputContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#displayName {
  margin-right: 20%;
  width: 200px;
  padding: 12px;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
#displayName:hover,
#displayName:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.score {
  margin-right: 10px;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}
